body{
  overflow: hidden;
  padding: 0;
  margin: 0;

  font-smooth: always;

}

.container-fluid{
  @include media-breakpoint-down (sm){
    padding: 0 !important;
  }
}

.row-max-width {
  max-width: 1400px !important;
  margin: auto;
}