$border-radius-4px: 4px;
$border-radius-6px: 6px;
$border-radius-12px: 12px;

// add to the BS utility classes
$utilities: () !default;
$utilities: map-merge((
  "rounded": (
      property: border-radius,
      class: rounded,
      values: (
        4px: $border-radius-4px,
        6px: $border-radius-6px,
        12px: $border-radius-12px,
      )
    )
), $utilities)