.btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;

  text-decoration: none !important;
  font-family: $font-family-rubik;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 100%;

  border-radius: 4px;

  white-space: nowrap;

  transition: all 0.2s linear;
  cursor: pointer;

  span{
    line-height: 100%;
  }

  &--lg{
    padding: 20px 30px;
  }

  &--sm{
    padding: 16px 18px;
  }

  &--ac-blue{
    background-color: $accent-blue;
    color: white;

    &:hover{
      background-color: $accent-blue-dark;
      color: white;
    }
  }

  &--d-blue{
    background-color: $dark-blue;
    color: white;

    &:hover{
      background-color: $darker-blue;
      color: white;
    }
  }

  &--green{
    background-color: $green;
    color: white;

    &:hover{
      background-color: $green-dark;
      color: white;
    }
  }

  &--red{
    background-color: $red-dark;
    color: white;

    &:hover{
      background-color: $bright-red;
      color: white;
    }
  }

  @include media-breakpoint-down(md){
    &--lg{
      padding: 12px 14px;
    }

    &--sm{
      padding: 12px 14px;
    }
  }
}