.blue-dot-list{
  list-style: none;
  padding: 0;
  margin-bottom: 0;

  li{
    padding-left: 25px;
    position: relative;
    font-family: $font-family-roboto;
    font-weight: 400;
    color: $gray;

    &::before{
      content: "";
      display: block;
      position: absolute;
      top: 7px;
      left: 8px;
      width: 8px;
      height: 8px;
      background-color: $accent-blue;
      border-radius: 50%;
    }

    &:not(:last-child){
      margin-bottom: 10px;
    }
  }

  @include media-breakpoint-down(sm){
    li{
      padding-left: 15px;
      font-size: 14px;

      &::before{
        top: 8px;
        left: 0px;
        width: 6px;
        height: 6px;
      }

      &:not(:last-child){
        margin-bottom: 10px;
      }
    }
  }
}

