#search-companies{
  max-width: 100%;
  width: 370px;
  position: relative;

  #search-companies-input{
    width: 100%;
    padding: 15px 20px 15px 50px;

    cursor: pointer;

    font-family: $font-family-rubik;
    color: $slate-gray;

    border: 1px solid white;
    border-radius: 64px;

    box-shadow: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-color: white;


    &:focus {
      border: 1px solid $accent-blue;
    }


    &::placeholder {
      font-family: $font-family-rubik;
      color: $slate-gray;
      opacity: 1;
    }

  }

  i{
    position: absolute;
    top: 21px;
    left: 20px;
  }


}

#companies-filter-btns{

  .filter-btn-wrap{
    position: relative;

    input{
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: -1;
      appearance: none;
      visibility: hidden;
      opacity: 0;

      &:checked + label {
        color: white !important;
        background-color: $dark-blue !important;
        border-color: $dark-blue !important;
      }
    }

    label{
      z-index: 1;
    }

    &:hover{
      label{
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border-color: $dark-blue !important;
      }
    }

  }

}

#companies-list-wrap{

  .companies-list-header{
    background-color: rgba(13, 36, 82, 0.08);

    display: grid;
    grid-template-columns: 1fr 90px 70px 104px 35px 35px 35px 35px 70px 35px 140px 25px;
    column-gap: 20px;
    align-items: center;
    justify-items: center;

    &__name{
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      justify-self: start;
    }

    @media screen and (max-width: 1450px){
      grid-template-columns: 90px 70px 104px 35px 35px 35px 35px 70px 35px 140px !important;
      justify-items: center !important;
      align-items: start !important;
      justify-content: space-between;
      column-gap: 10px;

      &__name{
        display: none !important;
      }

      &__renew{
        grid-column: 1 / span 1;
      }

      &__office{
        grid-column: 2 / span 1;
      }

      &__status{
        grid-column: 3 / span 1;
      }

      &__tas{
        grid-column: 4 / span 1;
      }

      &__roa{
        grid-column: 5 / span 1;
      }

      &__dsa{
        grid-column: 6 / span 1;
      }

      &__vba{
        grid-column: 7 / span 1;
      }

      &__messages{
        grid-column: 8 / span 1;
      }

      &__mail{
        grid-column: 9 / span 1;
      }

      &__cf{
        grid-column: 10 / span 1;
      }

      &__drop-down{
        grid-column: 11 / span 1;
      }
    }

    @media screen and (max-width: 1100px){
      display: none !important;
    }
  }


  #companies-list{
    .company{
      min-height: 80px;
      position: relative;
      overflow: hidden;

      display: grid;
      grid-template-columns: 1fr 90px 70px 104px 35px 35px 35px 35px 70px 35px 140px 25px;
      column-gap: 20px;
      align-items: center;
      justify-items: center;

      .label{
        display: none;
      }

      &::after{
        content: "";
        width: 6px;
        height: 100%;
        position: absolute;
        left: 0;
      }

      &--active{
        &::after{
          background-color: $green;
        }
      }

      &--pending{
        &::after{
          background-color: $orange;
        }
      }

      &--suspended{
        &::after{
          background-color: $red;
        }
      }

      &__name{
        justify-self: start;

        a{
          &:hover{
            color: $accent-blue;
          }
        }
      }

      &__status{
        .status-active{
          border: 1px solid rgba(90, 186, 94, 0.3);
        }
        .status-pending{
          border: 1px solid rgba(238, 133, 31, 0.3);
        }

        .status-suspended{
          border: 1px solid rgba(233, 142, 142, 0.30);;
        }
      }

      &__messages{
        position: relative;

        p{
          position: absolute;
          top: -5px;
          right: -5px;
          width: 16px;
          height: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1.5px solid white;
        }
      }

      &__mail{
        position: relative;

        p{
          position: absolute;
          top: -5px;
          right: -5px;
          width: 18px;
          height: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1.5px solid white;
        }
      }

      &__drop-down{
        grid-column: 12 / span 1;
        justify-self: end;
      }

      @media screen and (max-width: 1450px){
        grid-template-columns: 90px 70px 104px 35px 35px 35px 35px 70px 35px 140px !important;
        justify-items: center !important;
        align-items: center !important;
        justify-content: space-between;
        column-gap: 10px;
        row-gap: 20px;

        &__name{
          grid-column: 1 / span 9;
          grid-row: 1 / span 1;
          justify-self: start;

          a{
            font-weight: 500;
          }
        }

        &__renew{
          grid-column: 1 / span 1;
          grid-row: 2 / span 1;
          justify-self: start;
        }

        &__office{
          grid-column: 2 / span 1;
          grid-row: 2 / span 1;
        }

        &__status{
          grid-column: 3 / span 1;
          grid-row: 2 / span 1;
        }

        &__tas{
          grid-column: 4 / span 1;
          grid-row: 2 / span 1;
        }

        &__roa{
          grid-column: 5 / span 1;
          grid-row: 2 / span 1;
        }

        &__dsa{
          grid-column: 6 / span 1;
          grid-row: 2 / span 1;
        }

        &__vba{
          grid-column: 7 / span 1;
          grid-row: 2 / span 1;
        }

        &__messages{
          grid-column: 8 / span 1;
          grid-row: 2 / span 1;
        }

        &__mail{
          grid-column: 9 / span 1;
          grid-row: 2 / span 1;
        }

        &__cf{
          grid-column: 10 / span 1;
          grid-row: 2 / span 1;
        }

        &__drop-down{
          grid-column: 10 / span 1;
          grid-row: 1 / span 1;
          justify-self: end;
        }
      }

      @media screen and (max-width: 1100px){
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
        justify-items: start !important;
        align-items: start !important;
        row-gap: 30px;

        .label{
          display: block;
          line-height: 18px !important;
        }

        &__name{
          grid-column: 1 / span 10;
          grid-row: 1 / span 1;

          a{
            font-weight: 500;
          }
        }

        &__renew{
          grid-column: 1 / span 4;
          grid-row: 2 / span 1;
          justify-self: start;
        }

        &__office{
          grid-column: 5 / span 4;
          grid-row: 2 / span 1;
        }

        &__status{
          grid-column: 9 / span 4;
          grid-row: 2 / span 1;
          align-self: center !important;

          p{
            padding: 0 0 !important;
            border: none !important;
            background-color: transparent !important;
            width: fit-content !important;
            line-height: 21px !important;
          }
        }

        &__tas{
          grid-column: 1 / span 2;
          grid-row: 3 / span 1;
        }

        &__roa{
          grid-column: 3 / span 2;
          grid-row: 3 / span 1;
        }

        &__dsa{
          grid-column: 5 / span 2;
          grid-row: 3 / span 1;
        }

        &__vba{
          grid-column: 7 / span 2;
          grid-row: 3 / span 1;
        }

        &__messages{
          grid-column: 1 / span 2;
          grid-row: 4 / span 1;
        }

        &__mail{
          grid-column: 3 / span 2;
          grid-row: 4 / span 1;
        }

        &__cf{
          grid-column: 9 / span 4;
          grid-row: 3 / span 1;
          a{
            text-align: left !important;
            width: 100%;
          }
        }

        &__drop-down{
          grid-column: 11 / span 2;
          grid-row: 1 / span 1;
          justify-self: end;
        }
      }

      @media screen and (max-width: 400px){
        row-gap: 15px;

        .label{
          font-size: 10px !important;
          line-height: 16.5px;
        }

        &::after{
          width: 4px;
        }

        &__name{
          a{
            font-size: 12px !important;
          }
        }

        &__renew{
          p{
            font-size: 11px !important;
          }
        }

        &__office{
          p{
            font-size: 11px !important;
          }
        }

        &__status{
          p{
            font-size: 11px !important;
            line-height: 16.5px !important;
          }
        }

        &__cf{
          p{
            font-size: 11px !important;
            span{
              font-size: 11px !important;
            }
          }

          a{
            font-size: 11px !important;
            span{
              font-size: 11px !important;
            }
          }
        }
      }
    }
  }

}
