#company-tab-btns{

  .tab-btn{

    &:hover{
      border-color: $dark-blue !important;
      color: $dark-blue !important;
    }

    &--active{
      color: white !important;
      background-color: $dark-blue !important;
      border-color: $dark-blue !important;

      &:hover{
        color: white !important;
        background-color: $dark-blue !important;
      }
    }
  }
}

#company-overview-wrap{

  .overview-table-row{
    border-bottom: 2px solid $pale-blue;
    min-height: 75px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 6fr 7fr;
    justify-items: stretch;
    align-items: stretch;
  }

  .table-heading{
    border-right: 2px solid $pale-blue;
    display: flex;
    align-items: center;
  }

  .table-content{
    display: flex;
    align-items: center;
  }

}

#active-services-wrap{
  .active-service{
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    column-gap: 15px;

    &:not(:last-child){
      border-bottom: 2px solid $pale-blue;
    }

    &__img{
      display: block;
      width: 74px;
      border-radius: 4px;
    }
  }
}

#order-info-table{
  .order-info{
    border-bottom: 2px solid $pale-blue;
    min-height: 75px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 6fr 7fr;
    justify-items: stretch;
    align-items: stretch;

    &__name{
      border-right: 2px solid $pale-blue;
      display: flex;
      align-items: center;
    }

    &__info{
      display: flex;
      align-items: center;
    }
  }
}