#top-nav-wrap{

  #top-nav-logo{
    img{
      display: block;
      height: 60px;
    }
  }

  #top-nav-links{
    a{
      &:not(:last-child){
        margin-right: 40px;
      }

      &:hover{
        color: $accent-blue;
      }
    }
  }

  #top-nav-notifications{
    .notification-bell{
      position: relative;

      i{
        font-size: 1.3125rem;
        color: $dark-blue;
      }

      &__indicator{
        position: absolute;
        top: -3px;
        right: -2px;
        display: block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: $red-dark;
        // border: 1px solid white;
      }
    }
  }

  #top-nav-profile-image{
    img{
      display: block;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      border: 2px solid $slate-gray;
    }
  }

  #top-nav-drop-down{
    #top-nav-drop-down-btn{
        white-space: nowrap !important;

        i{
          margin-left: 10px;
          transition: all 0.3s ease-in-out;
        }

      &:hover{
        color: $accent-blue;

        i{
          transform: rotate(180deg);
        }
      }
    }
  }

  #top-nav-burger{
    cursor: pointer;
  }

  @include media-breakpoint-down(sm){
    #top-nav-logo{
      img{
        display: block;
        height: 40px;
      }
    }
  }

  @media screen and (max-width: 374px){
    #top-nav-logo{
      img{
        display: block;
        height: 25px;
      }
    }
  }
}